.visited {
  text-decoration: line-through;
}

.photo-form-container {
  display: block;
}

.hidden {
  list-style: none;
}

.dog-photos {
  list-style: none;
}

.dog-photos li {
  display: inline;
}

.dog_photos li img {
  height: 200px;
  width: auto;
  padding: 3px;
}
